// TODO
.container {
  max-width: 700px;
  margin: auto;
  padding: 2rem;
  box-sizing: border-box;
}

.posts {
  display: flex;
  flex-direction: column;
}

.post {
  &:not(:first-child) {
    margin: 2.5rem 0 0;
  }

  div:first-child {
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.5rem;
    margin: 0 0 0.5rem;
  }

  span {
    font-size: 1rem;
    color: var(--gray-200);
  }

  time {
    color: var(--gray-200);
    margin-right: 1rem;
  }
}

.loadMoreButton {
  cursor: pointer;
  color: var(--pink-500);
  background-color: transparent;
  border: none;
  font-size: 1rem;
  margin-top: 4rem;

  &:hover {
    text-decoration: underline;
  }
}
